.page1{
    height: 2340px;
    width: 1080px;
    background-color: rgb(50, 103, 250);
}

.page2{
    height: 2340px;
    width: 1080px;
    background-color: rgb(50, 250, 127);
}

.page3{
    height: 2340px;
    width: 1080px;
    background-color: rgb(250, 230, 50);
}